In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
File_path="/content/project1_df.csv"

In [ ]:
df=pd.read_csv(File_path)

In [ ]:
df.head()

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi

In [ ]:
df.tail()

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
16529,211834,1054474615,Female,25-45,02/04/2023 12:40:42,Sports & Fitness,Yes,FESTIVE50,80.75,4160.00400,4079.25400,Debit Card,Hyderabad
16530,643945,9982376090,Male,18-25,20/01/2020 00:19:46,Clothing,Yes,FESTIVE50,481.98,1663.24725,1181.26725,Debit Card,Hyderabad
16531,636002,1814435781,Other,18-25,23/11/2022 00:19:37,Electronics,No,NaN,0.00,5214.61980,5214.61980,Net Banking,Kolkata
16532,436832,6882570670,Male,25-45,02/09/2023 02:17:06,Electronics,No,NaN,0.00,650.66400,650.66400,Credit Card,Mumbai
16533,123205,8730269442,Male,18-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(16534, 13)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16534 entries, 0 to 16533
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CID                    16534 non-null  int64
 1   TID                    16534 non-null  int64
 2   Gender                 16534 non-null  object
 3   Age Group              16534 non-null  object
 4   Purchase Date          16533 non-null  object
 5   Product Category       16533 non-null  object
 6   Discount Availed       16533 non-null  object
 7   Discount Name          8245 non-null   object
 8   Discount Amount (INR)  16533 non-null  float64
 9   Gross Amount           16533 non-null  float64
 10  Net Amount             16533 non-null  float64
 11  Purchase Method        16533 non-null  object
 12  Location               16533 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 1.6+ MB

In [ ]:
df.isnull().sum()

CID                         0
TID                         0
Gender                      0
Age Group                   0
Purchase Date               1
Product Category            1
Discount Availed            1
Discount Name            8289
Discount Amount (INR)       1
Gross Amount                1
Net Amount                  1
Purchase Method             1
Location                    1
dtype: int64

In [ ]:
df.dropna()

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi
5,200614,3994452858,Male,18-25,12/07/2021 15:10:27,Clothing,Yes,FESTIVE50,127.01,3649.397400,3522.387400,Credit Card,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16524,735111,9005656287,Other,25-45,11/03/2024 01:49:13,Beauty and Health,Yes,NEWYEARS,420.58,5549.258750,5128.678750,Credit Card,Kolkata
16526,291582,7131258088,Other,25-45,05/05/2020 18:38:20,Clothing,Yes,SAVE10,197.70,4583.344500,4385.644500,Debit Card,Pune
16528,904390,5352303549,Male,60 and above,03/01/2022 12:38:36,Clothing,Yes,FESTIVE50,369.14,185.078700,-184.061300,Credit Card,Delhi
16529,211834,1054474615,Female,25-45,02/04/2023 12:40:42,Sports & Fitness,Yes,FESTIVE50,80.75,4160.004000,4079.254000,Debit Card,Hyderabad
16530,643945,9982376090,Male,18-25,20/01/2020 00:19:46,Clothing,Yes,FESTIVE50,481.98,1663.247250,1181.267250,Debit Card,Hyderabad

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.dtypes

CID                        int64
TID                        int64
Gender                    object
Age Group                 object
Purchase Date             object
Product Category          object
Discount Availed          object
Discount Name             object
Discount Amount (INR)    float64
Gross Amount             float64
Net Amount               float64
Purchase Method           object
Location                  object
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16534 entries, 0 to 16533
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CID                    16534 non-null  int64
 1   TID                    16534 non-null  int64
 2   Gender                 16534 non-null  object
 3   Age Group              16534 non-null  object
 4   Purchase Date          16533 non-null  object
 5   Product Category       16533 non-null  object
 6   Discount Availed       16533 non-null  object
 7   Discount Name          8245 non-null   object
 8   Discount Amount (INR)  16533 non-null  float64
 9   Gross Amount           16533 non-null  float64
 10  Net Amount             16533 non-null  float64
 11  Purchase Method        16533 non-null  object
 12  Location               16533 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 1.6+ MB

In [ ]:
df.shape

(16534, 13)

In [ ]:
df.columns

Index(['CID', 'TID', 'Gender', 'Age Group', 'Purchase Date',
       'Product Category', 'Discount Availed', 'Discount Name',
       'Discount Amount (INR)', 'Gross Amount', 'Net Amount',
       'Purchase Method', 'Location'],
      dtype='object')

In [ ]:
product_count = df['Product Category'].value_counts().nlargest(10)
product_percentage =df['Product Category'].value_counts(normalize=True) * 100
product_freq_table = pd.DataFrame({"Count": product_count, "Percentage": product_percentage})
product_freq_table

                   Count  Percentage
Product Category
Electronics         4924   29.782859
Clothing            3294   19.923789
Beauty and Health   2523   15.260388
Sports & Fitness    1684   10.185689
Home & Kitchen      1637    9.901409
Books                854    5.165427
Other                679    4.106938
Pet Care             473    2.860945
Toys & Games         465    2.812557

# **Convert 'Purchase Date' to datetime**

In [ ]:
pd.to_datetime(df['Purchase Date'])

<ipython-input-16-055542e452a7>:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime(df['Purchase Date'])

0       2023-08-30 20:27:08
1       2024-02-23 09:33:46
2       2022-03-06 09:09:50
3       2020-11-04 04:41:57
4       2022-05-31 17:00:32
                ...
16529   2023-04-02 12:40:42
16530   2020-01-20 00:19:46
16531   2022-11-23 00:19:37
16532   2023-09-02 02:17:06
16533                   NaT
Name: Purchase Date, Length: 16534, dtype: datetime64[ns]